.blockSection {
	display: inline-block;
	border: 2px;
	padding: 10px;
	margin: 3px;
	width: 100%;
	background: #dddddd;
	vertical-align: top;
}

.blockNav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
